<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <title>Mad Libs, Angular Style</title>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Chewy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/myApp.js"></script>
  </head>

  <body>

    <!-- Header with Logo -->

    <header>
      <div id="header">

        <div id="happy-face">
          <img src="img/happy-face.png" height="150px">
        </div>

        <div id="logo">
          <img src="img/logo.png" height="70px">
          <h1>Automate This!</h1>
        </div>

       </div>
    </header>

    <!-- Blank words thats need to be filled in -->
    <div ng-controller="myCtrl">
      <div class="blanks">
        <section class="blank-words">
          <h2>Provide the following words:<h2>
            <form name="wordsForm" ng-submit="submit()">
              <input type="text" ng-model="words[0].name" required>
              <input type="text" ng-model="words[1].job" required>
              <input type="text" ng-model="words[2].task" required>
              <input type="text" ng-model="words[3].task2" required>
              <input type="text" ng-model="words[4].mentor" required>
              <input type="text" ng-model="words[5].skill" required>
              <input type="text" ng-model="words[6].adj" required>
              <input type="text" ng-model="words[7].celebrity" required>
              <input type="text" name="number" ng-model="words[8].number" required ng-pattern="/^[1-9][0-9]*$/">
            </form>
            <hr>
            <h2>Pick a <u>gender</u> for this story:</h2>
            <div id="buttons">
              <button ng-click="male()">Male</button>
              <button ng-click="female()">Female</button>
            </div>
            <h3>The main character of this story will be a . . . <em>{{ gender }}</em>!</h3>
            <hr>
            <input type="submit" value="Generate My Mad Lib" id="submit" ng-click="showStory = !showStory" />
            <!-- Errors -->
            <h3>Errors:</h3>
            <p class="error" ng-if="wordsForm.number.$error.pattern">
              You must enter a valid number!
            </p>
        </section>
      </div>

    <!-- Paragraph -->
      <div class="story" ng-hide="showStory">
        <section class="paragraph">
          <center><h2><u> A Great Life Story </u></h2>
          <h3> By: {{words[0].name}} </h3> </center>
          <p><em>{{ words[0].name }}</em> was a <em>{{ words[1].job }}</em> who loved technology. Although {{gender1}} loved parts of {{gender2}} job, {{gender1}} absolutely hated  <em>{{ words[2].task }}</em> and <em>{{ words[3].task2 }}</em>. So, <em>{{ words[0].name }}</em> met with {{gender2}} life mentor <em>{{ words[4].mentor }}</em> who told {{gender3}} to learn how to <em>{{ words[5].skill }}</em> with Thinkful. Thinkful didn't offer a course on <em>{{ words[5].skill }}</em> so {{gender1}} studied programming instead. 
     
          What a great decision! With {{gender2}} new skills, <em>{{ words[0].name }}</em> built a(n) <em>{{ words[6].adj }}</em> robot named <em>{{ words[7].celebrity }}</em> that not only loved <em>{{ words[3].task2 }}</em> but did it <em>{{ words[8].number }}</em> times faster. 
          </p>
        </section>
      </div>
    </div>

  </body>

</html>
