<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <title>Mad Libs, Angular Style</title>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Chewy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/myApp.js"></script>
  </head>

  <body>

    <!-- Header with Logo -->

    <header>
      <div id="header">

        <div id="happy-face">
          <img src="img/happy-face.png" height="150px">
        </div>

        <div id="logo">
          <img src="img/logo.png" height="70px">
          <h1>Automate This!</h1>
        </div>

       </div>
    </header>

    <!-- Blank words thats need to be filled in -->
    <div ng-controller="myCtrl">
      <div class="blanks" ng-show="blanks">
        <section class="blank-words">
          <form name="wordsForm" novalidate ng-submit="submit()">
          <h2>Pick a <u>gender</u> for this story:</h2>
            <div id="buttons">
              <button ng-click="male()">Male</button>
              <button ng-click="female()">Female</button>
            </div>
            <h3>
              The main character of this story will be a . . . <em>{{ gender }}</em>!
            </h3>
            <hr>
            <h2>Provide the following words:<h2>
              <input type="text" name="greeting" ng-model="data.name" placeholder="name" placeholder="name" required>
              <input type="text" name="job" ng-model="data.job" placeholder="job title" required>
              <input type="text" name="task" ng-model="data.task" placeholder="tedious task" required>
              <input type="text" name="task2" ng-model="data.task2" placeholder="dirty task" required>
              <input type="text" name="mentor" ng-model="data.mentor" placeholder="celebrity" required>
              <input type="text" name="skill" ng-model="data.skill" placeholder="useless skill" required>
              <input type="text" name="adj" ng-model="data.adj" placeholder="adjective" required>
              <input type="text" name="celeb" ng-model="data.celebrity" placeholder="obnoxious celebrity" required>
              <input type="text" name="number" ng-model="data.number" placeholder="huge number" required ng-pattern="/^[1-9][0-9]*$/">
              <input type="submit" value="Generate My Mad Lib" id="submit" ng-disabled="genderClicked == false && wordsForm.$invalid" ng-click="showStory = !showStory; blanks = !blanks" />
            </form>
            <!-- Errors -->
            <!-- <p class="error" ng-if="wordsForm.$submitted && wordsForm.greeting.$error.required">
              You must enter a name!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.job.$error.required">
              You must enter a job title!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.task.$error.required">
              You must enter a tedious task!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.task2.$error.required">
              You must enter a dirty task!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.mentor.$error.required">
              You must enter a celebrity!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.skill.$error.required">
              You must enter an useless skill!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.adj.$error.required">
              You must enter an adjective!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.celeb.$error.required">
              You must enter an obnoxious celebrity!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.number.$error.required">
              You must enter a number!
            </p>
            <p class="error" ng-if="wordsForm.$submitted && wordsForm.number.$error.pattern">
              You must enter a valid number!
            </p> -->
        </section>
      </div>

    <!-- Paragraph -->
      <div class="story" ng-hide="showStory">
        <section class="paragraph">
          <center><h2><u> A Great Life Story </u></h2>
          <h3> By: {{data.name}} </h3> </center>
          <p><em>{{ data.name }}</em> was a <em>{{ data.job }}</em> who loved technology. Although {{gender1}} loved parts of {{gender2}} job, {{gender1}} absolutely hated  <em>{{ data.task }}</em> and <em>{{ data.task2 }}</em>. So, <em>{{ data.name }}</em> met with {{gender2}} life mentor <em>{{ data.mentor }}</em> who told {{gender3}} to learn how to <em>{{ data.skill }}</em> with Thinkful. Thinkful didn't offer a course on <em>{{ data.skill }}</em> so {{gender1}} studied programming instead. 
     
          What a great decision! With {{gender2}} new skills, <em>{{ data.name }}</em> built a(n) <em>{{ data.adj }}</em> robot named <em>{{ data.celebrity }}</em> that not only loved <em>{{ data.task2 }}</em> but did it <em>{{ data.number }}</em> times faster. 
          </p>
          <button id="reset" ng-click="blanks = !blanks; showStory = !showStory">Start Over</button>
        </section>
      </div>
    </div>

  </body>

</html>
