<!DOCTYPE html>
<html>

  <head>
    <title>Mad Libs, Angular Style</title>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Chewy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>

  <body>

    <!-- Header with Logo -->

    <header>
      <div id="header">

        <div id="happy-face">
          <img src="img/happy-face.png" height="150px">
        </div>

        <div id="logo">
          <img src="img/logo.png" height="70px">
          <h1>Automate this!</h1>
        </div>

       </div>
    </header>

    <!-- Blank words thats need to be filled in -->
    
    <div ng-app="" ng-init="name='female name'; job='job title'; task='tedious task'; task2='dirty task' ; mentor='celebrity'; skill='useless skill'; adj='adjective'; celebrity='obnoxious celebrity'; number='huge number'">
      <section class="blank-words">
        <h2>Provide the following words:<h2>
            <p><input type="text" ng-model="name"></p>
            <p><input type="text" ng-model="job"></p>
            <p><input type="text" ng-model="task"></p>
            <p><input type="text" ng-model="task2"></p>
            <p><input type="text" ng-model="mentor"></p>
            <p><input type="text" ng-model="skill"></p>
            <p><input type="text" ng-model="adj"></p>
            <p><input type="text" ng-model="celebrity"></p>
            <p><input type="text" ng-model="number"></p>
      </section>

    <!-- Paragraph -->

      <section class="paragraph">  
        <p>{{ name }} was a {{ job }} who loved technology. Although she loved parts of her job, she absolutely hated  {{ task }} and {{ task2 }}. So, {{ name }} met with her life mentor {{ mentor }} who told her to learn how to {{ skill }} with Thinkful. Thinkful didn't offer a course on {{ skill }} so she studied programming instead. 
   
        What a great decision! With her new skills, {{ name }} built a(n) {{ adj }} robot named {{ celebrity }} that not only loved {{ task2 }} but did it {{ number }} faster. 
        </p>
      </section>
    </div>

  </body>

</html>
